html {
    font: 15pt Arial;
}
body {
    background: url("natal7.jpg") no-repeat top center fixed;
    background-size: cover ;
}

div::before {
    /*content: " Mensagem de Natal da SEPLAN ";*/
    font: 10pt Arial;
    font-weight: bold;
    color: white;
    background-color: #273747;
    padding: 5px;
    display: block;
    position: relative;
    top: -10px;
    left: -10px;
    width: 300px;

}

div {
    /*background-color: rgba(255,255,255,.8);*/
    margin: 150px auto 150px auto;
    padding: 5px;
    width: 550px;
    min-height:100px;

}

a {
    color: #273747;
    text-decoration: none;
    font-weight: bold;
    font: 11pt Helvetica;
}

a:hover {
    text-decoration: underline;
}

span.foco {
    font-weight: bold;
    color: #7e050c;
}